.bg {
	height:100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("walpaper.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}
img{
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 10px;
}
label{
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 10px;
	font-size: 30px;
}
p{
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 40px;
	margin-right: 5px;
	font-size: 20px;
}
.lbl{
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 5px;
	font-size: 18px;
}
